<div class="p-4 border rounded shadow-sm bg-white panel-usuarios d-flex flex-column">
  <h3 class="mb-3">{{title}}</h3>

  <div class="table-wrapper flex-grow-1 overflow-auto">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar">
      <button class="btn btn-outline-secondary" type="button">
        <i class="fas fa-search"></i>
      </button>
    </div>
    <table class="table custom-table w-100 text-center m-0">
      <tbody>
        <tr class="custom-row">
          <td class="custom-cell">usuario1ejemplo.com</td>
        </tr>
        <tr class="custom-row">
          <td class="custom-cell">usuario2ejemplo.com</td>
        </tr>
        <tr class="custom-row">
          <td class="custom-cell">usuario3ejemplo.com</td>
        </tr>
        <tr class="custom-row">
          <td class="custom-cell">usuario1ejemplo.com</td>
        </tr>
        <tr class="custom-row">
          <td class="custom-cell">usuario2ejemplo.com</td>
        </tr>
        <tr class="custom-row">
          <td class="custom-cell">usuario3ejemplo.com</td>
        </tr>
        <tr class="custom-row">
          <td class="custom-cell">usuario1ejemplo.com</td>
        </tr>
        <tr class="custom-row">
          <td class="custom-cell">usuario2ejemplo.com</td>
        </tr>
        <tr class="custom-row">
          <td class="custom-cell">usuario3ejemplo.com</td>
        </tr>
        <tr class="custom-row">
          <td class="custom-cell">usuario1ejemplo.com</td>
        </tr>
        <tr class="custom-row">
          <td class="custom-cell">usuario2ejemplo.com</td>
        </tr>
        <tr class="custom-row">
          <td class="custom-cell">usuario3ejemplo.com</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
